/* Resetting default margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}

/* Styling the navigation bar */
nav {
  background-color: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 18px;
   @media (max-width: 600px) {
  font-size: 12px;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #555;
}

.active {
  background-color: #4CAF50;
}

.content {
  text-align: center;
  padding: 50px;

}

h1 {
  font-size: 2.2rem;
   @media (max-width: 600px) {
  font-size: 1.6rem;
  }
  margin-bottom: 20px;
  margin-top: 0px;
}

h3 {
  font-size: 1.8rem;
   @media (max-width: 600px) {
  font-size: 1.6rem;
  }
  margin-bottom: 20px;
  margin-top: 0px;
}
p {
  font-size: 1.2rem;
  color: black;
}

.mainImageFormat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
   @media (max-width: 600px) {
  width: 90%;
  }
   @media (min-width: 950px) {
  width: 50%;
  }
}

.mainImageFormatBlog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
   @media (max-width: 600px) {
  width: 90%;
  }
   @media (min-width: 950px) {
  width: 50%;
  }
}

#authorInfo {
  text-align: left;
}

#mainContent {
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.8); /* Set a semi-transparent white background for content */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
   border-radius: 10px;
}
#myContactImage {
   width: 33%;
    @media (max-width: 600px) {
  width: 80%;
  }
   @media (min-width: 950px) {
  width: 20%;
  }
}
.video {
  aspect-ratio: 16 / 9;
  width: 60%;
  @media (max-width: 600px) {
  width: 95%;
  }
  padding: 10px;

}



#mainContentVideo {
padding: 15px;
padding-top: 0px;

}

/* #mainContentAdventures {
 background-color: lightgray;
padding-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8); /* Set a semi-transparent white background for content
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow
   border-radius: 10px;
} */

#tableA {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableA td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tableA tr:nth-child(even) {
  background-color: #dddddd;
}

#tableB {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableB td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tableB tr:nth-child(even) {
  background-color: #dddddd;
}

#tableC {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableC td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tableC tr:nth-child(even) {
  background-color: #dddddd;
}

#tableD {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableD td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#tableD tr:nth-child(even) {
  background-color: #dddddd;
}


